<%= javascript_include_tag('bootstrap.min') %>
<%= stylesheet_link_tag('bootstrap.min') %>
<%= form_for  @indicator, :html => {:id => 'indicator-form'} do |f| %>
    <div id="indicator-errors"></div>

    <%= hidden_field_tag :format, 'json' %>
    <%= f.hidden_field :indicator_type_id %>
    <%= f.hidden_field :indicator_level_id %>
    <%= f.hidden_field :year_id %>
    <%= f.hidden_field :month_id %>
    <%= f.hidden_field :week_id %>
    <%= f.hidden_field :service_id %>
    <%= f.hidden_field :subservice_id %>
    <%= f.hidden_field :application_id %>
    <%= f.hidden_field :app_module_id %>
    <div>
      <p><label><%= l(:label_goal) %></label>: <%= @indicator.indicator_type.goal %></p>
    </div>

    <table width="80%" class="table">
      <tr>
        <th></th>
        <th></th>
        <th><%= l(:field_value_a) %></th>
        <th><%= l(:field_value_b) %></th>
        <th><%= l(:field_indicator) %></th>
        <th><%= l(:field_weight) %></th>
        <th><%= l(:field_external_indicator) %></th>
      </tr>
      <tr>
        <th><%= l(:field_service) %></th>
        <td><%= @indicator.service.name  %></td>
        <td><%= f.number_field :value_service_a, :style => 'width: 60px', :step => 0.5 %></td>
        <td><%= f.number_field :value_service_b, :style => 'width: 60px', :step => 0.5 %></td>
        <td><%= f.number_field :indicator_service, :style => 'width: 60px', :step => 0.5 %></td>
        <td><%= f.number_field :service_weight, :disabled => true, :style => 'width: 60px', :step => 0.5 %></td>
        <td><%= f.number_field :external_indicator_service, :disabled => true, :style => 'width: 60px', :step => 0.5 %></td>
      </tr>
      <tr>
        <th><%= l(:field_subservice) %></th>
        <td><%= @indicator.subservice.name  %></td>
        <td><%= f.number_field :value_subservice_a, :style => 'width: 60px', :step => 0.5  %></td>
        <td><%= f.number_field :value_subservice_b, :style => 'width: 60px', :step => 0.5  %></td>
        <td><%= f.number_field :indicator_subservice, :style => 'width: 60px', :step => 0.5  %></td>
        <td><%= f.number_field :subservice_weight, :disabled => true, :style => 'width: 60px', :step => 0.5  %></td>
        <td><%= f.number_field :external_indicator_subservice, :disabled => true, :style => 'width: 60px', :step => 0.5  %></td>
      </tr>
      <tr>
        <th><%= l(:field_application) %></th>
        <td><%= @indicator.application.name  %></td>
        <td><%= f.number_field :value_application_a, :style => 'width: 60px', :step => 0.5  %></td>
        <td><%= f.number_field :value_application_b, :style => 'width: 60px', :step => 0.5  %></td>
        <td><%= f.number_field :indicator_application, :style => 'width: 60px', :step => 0.5  %></td>
        <td><%= f.number_field :application_weight, :disabled => true, :style => 'width: 60px', :step => 0.5  %></td>
        <td><%= f.number_field :external_indicator_application, :disabled => true, :style => 'width: 60px', :step => 0.5  %></td>
      </tr>
      <tr>
        <th><%= l(:field_module) %></th>
        <td><%= @indicator.app_module.name  %></td>
        <td><%= f.number_field :value_module_a, :style => 'width: 60px', :step => 0.5  %></td>
        <td><%= f.number_field :value_module_b, :style => 'width: 60px', :step => 0.5  %></td>
        <td><%= f.number_field :indicator_module, :style => 'width: 60px', :step => 0.5  %></td>
        <td><%= f.number_field :module_weight, :disabled => true, :style => 'width: 60px', :step => 0.5  %></td>
        <td><%= f.number_field :external_indicator_module, :disabled => true, :style => 'width: 60px', :step => 0.5  %></td>
      </tr>
    </table>

    <table width="80%" class="table">
      <tr>
        <th colspan="3"><%= l(:label_analysis) %>:</th>
      </tr>
      <tr>
        <th><%= l(:label_analysis_1) %>:</th>
        <th><%= l(:label_analysis_2) %>:</th>
        <th><%= l(:label_analysis_3) %>:</th>
      </tr>
      <tr>
        <td><%= f.text_area :analysis_a, :cols => 20, :rows => 5%></td>
        <td><%= f.text_area :analysis_b, :cols => 20, :rows => 5%></td>
        <td><%= f.text_area :analysis_c, :cols => 20, :rows => 5%></td>
      </tr>
    </table>

    <%= button_tag l(:button_save), class: 'btn btn-primary', onclick: "Indicator.save(#{@indicator.id}); return false;" %>
<% end %>